.div {
    color: white;
    text-align: center;
    backdrop-filter: blur(10px);
    margin-top: 50px;
}

.image {
    top: 5px;
    position: relative;
    block-size: 350px;
    border-radius: 15px;
}

.linkedin {
    position: relative;
    block-size: 100px;
    align-items: auto;
    align-self: auto;
    top: 0px;
    padding-bottom: 30px;

}

.github {
    position: relative;
    block-size: 100px;
    align-items: auto;
    align-self: auto;
    top: -30px;
    left: 50px;
    border-radius: 30px;
    /* padding-bottom: 30px; */
}

.Text {
    position: relative;
    top: 0px;
}