.div {
    color: white;
    text-align: center;
    backdrop-filter: blur(10px);
}

.image {
    top: 120px;
    position: relative;
    block-size: 350px;
    border-radius: 15px;
}

.linkedin {
    position: relative;
    block-size: 100px;
    align-items: auto;
    align-self: auto;
    top: 60px;

}

.github {
    position: relative;
    block-size: 100px;
    align-items: auto;
    align-self: auto;
    top: 60px;
    left: 50px;
    border-radius: 30px;
}

.Text {
    position: relative;
    top: 60px;
}