.divCard {
  /* Add shadows to create the "card" effect */
  
  /* background-image: url(https://images3.alphacoders.com/812/812062.png);
  
  /* width: 23%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  display: inline-block;
  margin: 40px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(20px);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.characterDetails {
  padding: 2px 16px;
  color: white;
}

.button {
  background-color: red;
  position: absolute;
  left: 270px;
  top: 10px;
}

.image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.favoriteButton {
  position: absolute;
  right: 260px;
  top: 10px;
}