@media screen and (min-width: 1000px) {

    .nav {
        height: 60px;
        width: 100%;
        /* background-color: #4d4d4d; */
        position: relative;
    }

    .navheader {
        display: inline;

    }

    .navtitle {
        display: inline;
        font-size: 22px;
        color: rgb(235, 25, 25);
        padding: 10px 10px 10px 10px;
        position: relative;
        top: -35px;
        right: 550px;
    }

    .navButtons {
        /* width: 80px; */
        /* height: 34px; */
        /* border: 1px solid #00b4cc; */
        position: relative;
        left: 32%;

        /* margin: 18px; */
        /* margin-bottom: 10px; */
        margin-left: 10px;
        margin-top: 25px;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 18px;


        position: relative;
        background-color: #efb810;
        border: none;
        /* padding: 20px; */
        /* width: 110px; */
        text-align: center;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        border-radius: 8px;


    }


    .navButtons:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px #97B1BF;
        color: #000;
    }

    .navButtons:after {
        /* content: ""; */
        background: #f1c40f;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .navButtons:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }





    .navButtonsLogOut {
        /* width: 80px; */
        /* height: 34px; */
        /* border: 1px solid #00b4cc; */
        position: relative;
        left: 32%;

        /* margin: 18px; */
        /* margin-bottom: 10px; */
        margin-left: 10px;
        margin-top: 25px;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 18px;


        position: relative;
        background-color: #ef1f10;
        border: none;
        /* padding: 20px; */
        /* width: 110px; */
        text-align: center;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        border-radius: 8px;
        margin-top: 30px;


    }


    .navButtons:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px #97B1BF;
        color: #000;
    }

    .navButtons:after {
        /* content: ""; */
        background: #ef1f10;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .navButtons:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
}









@media screen and (max-width: 1000px) {

    .nav {
        height: 60px;
        width: 100%;
        /* background-color: #4d4d4d; */
        position: relative;
    }

    .navheader {
        display: inline;

    }

    .navtitle {
        display: inline;
        font-size: 22px;
        color: rgb(235, 25, 25);
        padding: 10px 10px 10px 10px;
        position: relative;
        top: -35px;
        right: 550px;
    }

    .navButtons {
        /* width: 80px; */
        /* height: 34px; */
        /* border: 1px solid #00b4cc; */
        position: relative;
        /* left: 300px; */

        /* margin: 18px; */
        /* margin-bottom: 10px; */
        margin-left: 10px;
        margin-top: 25px;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 18px;


        position: relative;
        background-color: #efb810;
        border: none;
        /* padding: 20px; */
        /* width: 110px; */
        text-align: center;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        border-radius: 8px;


    }


    .navButtons:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px #97B1BF;
        color: #000;
    }

    .navButtons:after {
        /* content: ""; */
        background: #f1c40f;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .navButtons:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }





    .navButtonsLogOut {
        /* width: 80px; */
        /* height: 34px; */
        /* border: 1px solid #00b4cc; */
        position: relative;
        /* left: 300px; */

        /* margin: 18px; */
        /* margin-bottom: 10px; */
        margin-left: 10px;
        margin-top: 25px;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 18px;


        position: relative;
        background-color: #ef1f10;
        border: none;
        /* padding: 20px; */
        /* width: 110px; */
        text-align: center;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        border-radius: 8px;


    }


    .navButtons:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px #97B1BF;
        color: #000;
    }

    .navButtons:after {
        /* content: ""; */
        background: #ef1f10;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .navButtons:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }




}